appdirs==1.4.4
apptools==5.1.0
astroid==2.5.6
atomicwrites==1.4.0
attrs==21.2.0
colorama==0.4.4
configobj==5.0.6
cycler==0.10.0
envisage==6.0.0
imageio==2.9.0
importlib-metadata==4.5.0
importlib-resources==5.1.4
iniconfig==1.1.1
isort==5.8.0
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
matplotlib==3.4.2
mayavi==4.7.3
mccabe==0.6.1
meshio==4.4.6
MouseInfo==0.1.3
numpy==1.20.3
packaging==20.9
pgcolorbar==1.1.1
Pillow==8.2.0
pluggy==0.13.1
py==1.10.0
pyface==7.3.0
PyGetWindow==0.0.9
Pygments==2.9.0
pylint==2.8.3
PyMsgBox==1.0.7
PyOpenGL==3.1.5
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyqtgraph==0.12.1
PyRect==0.1.4
PyScreeze==0.1.26
pytest==6.2.4
pytest-qt==4.0.2
python-dateutil==2.8.1
PyTweening==1.0.3
scipy==1.6.3
scooby==0.5.7
six==1.16.0
toml==0.10.2
traits==6.2.0
traits-stubs==6.1.0
traitsui==7.2.1
transforms3d==0.3.1
vtk==9.0.1
wrapt==1.12.1
zipp==3.4.1
